body{
    margin: auto;
    font-family: "Verdana";
}
header, footer{
    background-color: #4682B4;
    color: white;
    padding: 20px;
    font-size: 120%;
    text-align: center;
}
.lewy, .prawy{
    background-color: #40E0D0;
    height: 500px;
}
.lewy{
    float: left;
    width: 40%;
}
.prawy{
    float: right;
    width: 60%;
}
img{
    padding: 5px;
    margin: 10px;
    border: #000080 solid 1px;
    width: 550px;
}