body{
    font-family: Helvetica, sans-serif;
    background-color: linen;
    color: #222;
    margin: auto;
    width: 90%;
}
header{
    background-color: black;
    color: white;
    height: 100px;
}
.lewy{
    float: left;
    width: 50%;
}
.prawy{
    width: 50%;
    float: left;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
table{
    margin: 40px;
}
td{
    padding: 30px;
    text-align: center;
    font-weight: 700;
}
a{
    color: #aaa;
    text-decoration: none;
}
a:hover{
    color: white;
}
li{
    display: inline-block;
    padding: 5px;
    margin: 10px;
    border-bottom: solid white 1px;
}